anyio==4.1.0
asynccpu==1.2.2
asyncffmpeg==1.2.0
certifi==2023.11.17
charset-normalizer==3.3.2
DictObject==1.1.1
ffmpeg==1.4
ffmpeg-python==0.2.0
future==0.18.3
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.6
libmagic==1.0
luckydonald-utils==0.83
psutil==5.9.7
pytgbot==5.7
python-dotenv==1.0.0
python-magic==0.4.27
python-telegram-bot==20.7
pytube==15.0.0
requests==2.31.0
setuptools==69.0.2
sniffio==1.3.0
urllib3==2.1.0
